.origin-publish{
	font-size: 14px;
    color: #fff;
    border: 1px solid #09DEDE;
    border-radius: 6px;
    background: #68B74E;
    padding: 1px 4px;
}
.article-list{
	font-size:18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	line-height:1.8;
}
.blog-bg{
	color:black;
	height:100%;
    background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff),-webkit-linear-gradient(20deg, #e0f1ff 32%, #fffae3);
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);
}